<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated myconflict -->
      <package
            uri="http://www.ustb.edu.cn/sei/mde/compare/nmc/myconflict"
            class="edu.ustb.sei.mde.compare.myconflict.MyconflictPackage"
            genModel="model/myconflict.genmodel"/>
   </extension>

</plugin>
